`date-time` tests problem

The verifier throws an error for standard ISO8601 dates against the `date-time` format:

```
ERROR beacon_verifier::utils    >    ERROR: Format { format: "date-time" } - "2001-01-01" is not a "date-time" (/createDateTime)
```

AFAIK an ISO date fulfils the `date-time` requirement?

Addendum: also errors w/ time expansion:

```
 ERROR beacon_verifier::utils    >    ERROR: Format { format: "date-time" } - "2021-03-01T00:00:00" is not a "date-time" (/updateDateTime)
```

This is not a problem with the verifier since date-times in [RFC3339 Section 5.6](https://datatracker.ietf.org/doc/html/rfc3339#section-5.6) are defined as the full date, a 'T', the time with optional sub-second precision and the time offset.

If it should only be a date, or something more custom with a regex pattern, then the proper changes should be made in the model to reflect that decision. But if you specify the `date-time` format of json-schemas, the data should be complete to be valid.

Partial date-time formats are valid under ECMA script specifications and should verify.

Also, the only other solution AFAIK is to drop the format flag and to use only string with description for its use, i.e. no verification.

We are following Schemablocks suggestion here: RFC3339.
Relaxing a standard usage is actually not using the standard.
Converting that in an open string will remove the purpose of the data type.
Being conformant to the data type is a matter of formatting the output, seems easy to me.

Sorry, @jrambla, this is patently wrong. SchemaBlocks documentation of time formats does not reference RFC3339 (as some recommendation how to check/implement) but ISO 8601 (as the format). And I wrote the page myself.

AFAIK RFC3339 is mentioned in **timestamp** docs, for timestamp purposes (and to make it explicit that ISO strings are valid, in contrast to system time / time since epoch etc. - many discussions there).

#### Summary

* format "date-time" is nice to make sure nobody drops in random strings
* date-time *must* validate partial ISO 8601 strings such as "1999" (thanks, Prince, you were one of the best!)
* if your validator doesn't cope, fix it
* if that is a problem drop the type (which I would label as "TODO: temp. hack" in the source)```


As I understand the issue:
The current schemas include the `format: "date-time`" as  part of the property definition. 
As such, dates should be date-times and they should follow an strict rule for the format. 
This is a simple formatting issue that has the garnularity consequence that you mention.

Expressing the date in other formats, using a relaxed validation, does not sound right to me, as we could not rely on the "automatic" validation of the type anymore, and we must revert to trust the implementers.
Remember that using the verifier would not be mandatory for all Beacon instances in the Univers, hence, the schema MUST be as precise as necessary.

Therefore, if I need to choose, given that the schemas are out, I will choose to stick to the current strict one.

But then the format should be dropped for all those fields where it can be anything from date +- time space, e.g. relatedvto collection or observation points, since they frequently will be date only (even year), but in some instances time will be used/needed. Forcing conversion to strict, complete date-time by implementers will introduce errors (e.g. adding wrong precision), i.e. be destructive.

I guess this is why newer standards recognize validation of partial.

And to iterate: "1999" is perfect ISO; "1999-01-01T00:00:00.000Z" checks out RFC but is about a year away from what Prince was meaning.

Oh well, JSON docs for current drafts https://json-schema.org/understanding-json-schema/reference/string.html?highlight=datetime#id7 really are ambiguous, now having date, time, and date-time, but no statement about the handling (besides that format definitions are hints, but verifiers may follow them...). Which leaves the interpretation ambiguous.

Which leaves us with the problem of fields with varying granularity...

As @jrambla mentioned the option of patterns: Here is mine for ISO date +/- time:

`^\d{4}\-\d{2}\-\d{2}([Tt]\d{2}\:\d{2}\:\d{2}(\.\d{1,3})?([Zz]|[\+\-]\d{2}\:\d{2})?)?$`

This does not verify the sanity of the dates or times, just the string format. Happy to get a better one!